<div lang="en">
    <h1>Closed for the 2025 season</h1>
    <p>
        Managing an estate that contains several different businesses has proven to be very time-consuming. There is
        still a lot for us to familiarize ourselves with.
    </p>
    <p>
        For the safety of our guests, we will not be opening the fishing camp for the 2025 season. Instead, we are
        focusing on building the operational understanding and organization required to safely reopen the business in
        2026.
    </p>
    <p>
        We understand that this will disappoint some, but we hope you can appreciate the reasons behind this decision.
        We look forward to seeing you again in 2026.
    </p>
    <p> / Pernilla och Andrea Berglund </p>
    <br />
</div>