<header>
  <div class="header-inner-container">
    <a class="logo-link" href="/">
      <img class="logo" src="/assets/boat.png" alt="Bertejaure logotyp" />
    </a>
    <nav>
      <div class="nav-inner-container">
        <a href="/kontakt">Boka och kontakt</a>
        <a href="/fiskecamp">Om Bertejaure fiskecamp</a>
        <a href="/in-english" lang="en">In English</a>
      </div>
    </nav>
  </div>
</header>

<main class="main">
  <div class="main-inner-container">
    <router-outlet />
  </div>
</main>

<footer>
  <div class="footer-column">
    <h4>Om sidan</h4>
    <a href="/integritetspolicy">Integritetspolicy</a>
    <div class="copyright">
      <span>Copyright © {{thisYear}}</span>
    </div>
  </div>
  <div class="footer-column">
    <h4>Mer om Ammarnäs</h4>
    <p>
      Ammarnäs är full av sevärdheter, upplevelser och anledningar till att stanna ett par dagar extra.
    </p>
    <ul class="list-without-bullets">
      <li>
        <a href="#">Facebooksidan för Vad händer i Ammarnäs</a>
      </li>
      <li>
        <a href="#">Facebooksidan för Spår och leder</a>
      </li>
      <li>
        <a href="#">Visit Ammarnäs</a>
      </li>
      <li>
        <a href="#">Ammarnäs guidecenter</a>
      </li>
    </ul>
  </div>
</footer>