<h1>Integritetspolicy</h1>
<p>
    Vindelåforsens Stugby behandlar dina personuppgifter korrekt och i enlighet med gällande lagstiftning och regler för
    dataskydd. Vi är öppna med hur och varför vi behandlar personuppgifter och vill i denna policy ge dig insyn i vår
    hantering.</p>

<h2>Ansvarig</h2>
<p>
    Företaget, xxxx, är personuppgiftsansvarig för all personuppgiftsbehandling.
</p>
<p>
    När du använder våra tjänster eller produkter som levereras av någon av våra samarbetspartners – vill vi upplysa om
    att
    det kan vara någon av våra samarbetspartner som är personuppgiftsansvarig i vissa avseenden.</p>

<h2> Vems personuppgifter behandlar Vindelåforsens Stugby?</h2>

<p>Vi behandlar främst uppgifter om följande kategorier av personer; våra kunder, prospekts (du som ännu inte är kund
    men
    som vi hoppas skall bli det) och om du är en juridisk person – hanterar vi även personuppgifter om fysiska personer
    som
    representerar ditt företag (t ex kontaktperson, beställare, inköpare, annat).</p>

<p> I de flesta fall har du själv lämnat uppgifterna till oss och i vissa fall samlas uppgifterna in från tredje part.
</p>

<h2>Vilka personuppgifter behandlas?</h2>

<p>Namn, adress, organisation, e-postadress och telefonnummer, bostadsort, IP-nummer är exempel på kontaktuppgifter som
    kan
    komma att behandlas. Den informationen används för att bearbeta dina förfrågningar eller för att tillhandahålla de
    tjänster/information du begärt. Vi behandlar även relevanta uppgifter om dina ärenden/transaktioner med
    Vindelåforsens
    Stugby (t ex information om köp). Vi strävar efter att alla uppgifter skall vara uppdaterade och korrekta. Vi
    behandlar
    endast information som är relevant för att uppfylla våra syften, vilka redogörs för nedan.</p>

<h2> Varför behandlas personuppgifterna?</h2>

<p> I detta avsnitt redogör vi varför vi behandlar personuppgifter och på vilken grund.
    – För att administrera och utföra olika affärshändelser/transaktioner med dig. Främst i samband med att du begär en
    offert eller väljer att boka/köpa, någon av våra produkter. Grunden för vår behandling är att vi ska kunna fullgöra
    avtal med dig som kund eller för att utföra åtgärder innan ett eventuellt avtal ingås men även detta är ett av
    Vindelåforsens Stugbys berättigade intressen.
    – För att handlägga, följa upp och analysera garantiärenden, reklamationer och krav. Om du inte är nöjd med våra
    produkter eller tjänster så hanterar vi din reklamation, krav eller garantiärenden. För att vi skall kunna leverera
    så
    bra produkter och tjänster som möjligt och förbättra vår reklamationshantering kan vi även behöva följa upp och
    analysera informationen. Grunden för vår behandling är att vi ska kunna fullgöra avtal med dig som kund, vi måste
    också
    uppfylla rättsliga förpliktelser (t ex konsumenträtt & produktansvar) och detta är även ett av Vindelåforsens
    Stugbys
    berättigade intressen.
    – För att fullgöra olika skyldigheter som är reglerade i lag, förordning eller föreskrift Vindelåforsens Stugby har
    flera olika åtaganden och regelbördan och komplexiteten ökar över tid. Bl. a. måste vi fullgöra vår bokföringsplikt
    och
    redovisningsåtaganden, åtaganden som följer av konsumenträtt, regler om penningtvätt, mm. Grunden för vår behandling
    i
    dessa avseenden är helt enkelt att fullgöra rättsliga förpliktelser.
    – För marknadsföring Vi vill kunna hålla dig uppdaterad på vårt utbud och våra erbjudanden förutsatt att du inte
    invänt
    mot behandlingen. Grunden för vår behandling är främst att detta ryms inom Vindelåforsens Stugbys berättigade
    intresse.
    Det kan även förekomma att ditt samtycke har inhämtats.
    – För att följa upp och analysera vår verksamhet eller tillvarata våra rättigheter
    Utveckla vår verksamhet – för att utveckla vår affärsverksamhet, vårt utbud och våra kunderbjudanden, IT-system och
    andra redskap i syfte att ständigt förbättra oss och höja säkerhet, kvalitet och effektivitet så analyserar vi t ex
    processer, arbetssätt, kundanalyser, benchmarking och support.
    Historik – analysera och följa upp vår historik avseende de tjänster och produkter som Flisby AB levererat.
    Grunden för vår behandling av alla ovan åtgärder ryms inom Vindelåforsens Stugbys berättigade intresse.</p>

<h2>Hur behandlas och lagras personuppgifterna?</h2>

<p> Vi lagrar regelmässigt personuppgifter i våra olika system. Hur länge uppgifterna sparas är avhängigt av för vilket
    ändamål de samlats in och vilken typ av uppgifter det gäller. Vi lagrar inte informationen längre än vad vid har
    rätt
    till enligt dataskyddslagstiftning, annan relevant lagstiftning, regler och riktlinjer från olika myndigheter eller
    rekommendationer från branschorgan. För att ge en övergripande uppfattning så sparar vi t ex uppgifter när du köpt
    våra
    produkter eller tjänster, så länge kundförhållandet består och ibland längre för att fullgöra rättsliga
    förpliktelser i
    lag eller avtal.
</p>
<p>
    Uppgifter om offerter sparas 84 månader.
    Om du har lämnat uttryckligt samtycke så sparas uppgifter under den tid vi hanterar dem för ändamålet som du har
    samtyckt till.</p>

<p>Vindelåforsens Stugby kan komma att lagra dina kontaktuppgifter för att skicka direktmarknadsföring till dig under
    den
    tid vi har rätt att göra så enligt gällande dataskyddslagstiftning, marknadsföringslag och praxis.</p>

<h2> Vem kan få del av personuppgifter?</h2>

<p> Vindelåforsens Stugby kan i vissa fall även dela personuppgifter med ytterligare kategorier av mottagare, främst
    våra
    samarbetspartners eller myndighet. Detta gäller t ex garantiärenden men det förekommer att även att andra för
    ändamålet
    relevanta uppgifter utlämnas (t ex kontaktinfo).</p>

<p> Myndigheter kan komma att få del av information för att det är nödvändigt eller för att de har rätt till
    informationen.
    Vindelåforsens Stugby använder ofta externa leverantörer för olika ändamål, t ex datalagring eller annan
    datahantering,
    distribution av varor eller information, tryck, marknadsföring eller analyser. I dessa fall har leverantören ingen
    egen
    rätt att använda eventuella personuppgifter och Vindelåforsens Stugby ingår avtal om personuppgiftsbehandling med
    leverantören.</p>
<h2>Hur skyddas personuppgifterna?</h2>

<p>Vi, och i förekommande fall våra samarbetspartners, har vidtagit flera säkerhetsåtgärder för att skydda de
    personuppgifter som behandlas.</p>

<p>Vi har relevanta intrångsskydd som skyddar mot externa hot för att skydda och förhindra obehörig tillgång till våra
    nätverk och system.</p>


<h2>Vilka rättigheter har den som är registrerad när Vindelåforsens Stugby behandlar dina uppgifter?</h2>

<p>Du som registrerad har alltid rätt att begära att få tillgång till vilka uppgifter som behandlas om dig som person.
    Du
    har även rätt att begära att uppgifterna rättas, begränsas eller raderas. Du kan även rikta en invändning mot
    behandlingen och om du har lämnat ett samtycke till viss behandling kan du när som helst återkalla samtycket. Du har
    även rätten att begära dataportabilitet, d v s att kunna flytta med dig uppgifterna. Om du vill utöva dina
    rättigheter
    kan du kontakta Vindelåforsens Stugby. Våra kontaktuppgifter framgår ovan. Du har även rätt att vända dig till
    tillsynsmyndighet med klagomål. I Sverige vänder du dig till Datainspektionen.</p>

Denna integritetspolicy fastställdes av Vindelåforsens Stugby 22 maj 2018.

<h2>Kakor</h2>
<p>På bertejaure.se används inte kakor (cookies)</p>