<h1>Bertejaure fiskecamp</h1>
<p>
    Bertejaure fiskecamp drevs under många år av Urban Berglund. Sommaren 2024 gick Urban hastigt bort och
    fiskecampen ärvs av hans döttrar.
</p>
<br />
<h2>Stängt säsongen 2025</h2>
<p>
    Att ta hand om ett dödsbo med flera olika verksamheter har visat sig vara mycket mer tidskrävande än vi trott. Det
    finns fortfarande mycket vi behöver sätta oss in i.
</p>
<p>
    För att säkerställa våra gästers säkerhet kommer vi inte att ha fiskecampen öppen under säsongen 2025. Istället
    fokuserar vi på att bygga upp den kunskap och organisation vi behöver för att kunna öppna campen igen på ett säkert
    sätt 2026.
</p>
<p>
    Vi förstår att detta kan göra vissa besvikna, men vi hoppas att ni har förståelse för situationen. Vi ser fram emot
    att välkomna er igen 2026.
</p>
<p> / Pernilla och Andrea Berglund, <a href="mailto:info@bertejaure.com" rel="no-referrer noopener"
        target="_blank">info&#64;bertejaure.com</a>
</p>
<br />